body{
  font-family: "Dancing Script";
  background-color: #02010a;
  width: 90%;
  margin-left: 5%;
}
header{
  height: 100px;
  background-color: #5b7989;
  color: white;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 1%;
}
header h1{
  text-shadow: 2px 2px #02010a;
  width: 75%;
  margin-left: 15px;
}
nav{
  margin-top: 32px;
  width: 25%;
  padding-right: 15px;
}
nav a{
  font-size: 1.2em;
  color: white;
  margin-left: 15px;
}
a:active{
  text-decoration:none;
}
